---
import { Image } from "@astrojs/image/components";
import img from "@img/home/hero.png";
import PrimaryBtn from "@components/buttons/PrimaryBtn";
---

<section class="px-[2.5%] my-10">
  <div
    class="max-w-8xl mx-auto flex flex-col lg:flex-row items-center lg:items-start justify-between space-y-5 lg:space-y-0"
  >
    <div class="grow shrink-0 max-w-xl lg:mt-20 text-center lg:text-left">
      <h1 class="font-black font-headline text-6xl">We Make Metal Beautiful</h1>
      <p class="mt-4 text-lg">
        Form & finish in the millions. Seidel specializes in metal forming,
        anodizing, and decorative finishing for aluminum alloy parts across many
        different industries. Seidel Group has combined Eyelet Crafters, Eyelet
        Design, Quest Plastics, Romatic, and Seidel to become a fully vertical
        integrated packaging supplier.
      </p>
      <p class="mt-4 text-lg">
        For nearly 40 years Seidel has been anodizing parts as well as selling
        finished metal parts to our customers in the automotive, pharmaceutical,
        writing instruments and cosmetic industries to name just a few. The
        cosmetic industry still represents the largest segment of our customers,
        including manufacturers, distributors, international packaging suppliers
        who in turn sell to the OEMs.
      </p>
      <PrimaryBtn to="/request-a-quote" className="mt-4"
        >Request A Quote</PrimaryBtn
      >
    </div>
    <div class="">
      <Image
        src={img}
        format="webp"
        loading="eager"
        alt="seidel aluminum anodizing"
        width={900}
        height={600}
        fit="cover"
      />
    </div>
  </div>
</section>
