---
import { Image } from "@astrojs/image/components";
import img from "@img/home/hero.png";
import PrimaryBtn from "@components/buttons/PrimaryBtn";
---

<section class="px-[2.5%] my-10">
  <div
    class="max-w-8xl mx-auto flex flex-col lg:flex-row items-center lg:items-start justify-between space-y-5 lg:space-y-0"
  >
    <div class="grow shrink-0 max-w-xl lg:mt-20 text-center lg:text-left">
      <h1 class="font-black text-6xl">We Make Metal Beautiful</h1>
      <p class="mt-4 text-lg">
        Form & finish in the millions. Seidel specializes in anodized and
        decorative finishes for aluminum alloy parts across many different
        industries.
      </p>
      <PrimaryBtn to="/request-a-quote" className="mt-4"
        >Request A Quote</PrimaryBtn
      >
    </div>
    <div class="">
      <Image
        src={img}
        alt="seidel aluminum anodizing"
        width={900}
        height={600}
        fit="cover"
      />
    </div>
  </div>
</section>
