---
import Layout from "src/layouts/Layout.astro";
import CallToAction from "src/sections/general/CallToAction.astro";
import { getImage } from "@astrojs/image";
import { Image } from "@astrojs/image/components";
import WideSlide from "@components/Gallery/WideSlide";

import empImg from "@img/about/employee-rack-anodizing.jpg";
const { src } = await getImage({ src: empImg });
const gallery = [
  { src: src!, alt: "img alt" },
  { src: src!, alt: "img alt" },
  { src: src!, alt: "img alt" },
];
---

<Layout title="About Us | Seidel Group">
  <section class="px-[2.5%] my-10">
    <div
      class="max-w-8xl mx-auto flex flex-col lg:flex-row items-center gap-10 lg:items-start justify-between space-y-5 lg:space-y-0"
    >
      <div class="grow shrink-0 max-w-lg lg:mt-20 text-center lg:text-left">
        <h1 class="font-black text-6xl">About Us</h1>
        <p class="mt-2 text-2xl">World leader in anodized aluminum finishes</p>
        <p class="mt-4 text-lg">
          This is just placeholder test. Don't be alarmed, this is just here to
          fill up space since your finalized copy.
        </p>
      </div>
      <div>
        <Image
          src={import("@img/about/facility.jpg")}
          alt="seidel aluminum anodizing"
          quality={100}
        />
      </div>
    </div>
  </section>
  <section class="bg-white py-20 px-[2.5%]">
    <div
      class="max-w-8xl mx-auto flex flex-col lg:flex-row-reverse items-center gap-10 lg:items-start justify-between space-y-5 lg:space-y-0"
    >
      <div class="grow shrink-0 max-w-3xl xl:mt-20 text-center lg:text-left">
        <h2 class="font-black text-4xl">Our History</h2>
        <p class="mt-2 font-bold text-lg">50+ years of history</p>
        <p class="mt-4 text-lg leading-loose">
          This is just placeholder text. Don’t be alarmed, this is just here to
          fill up space since your finalized copy isn’t ready yet. Once we have
          your content finalized, we’ll replace this placeholder text with your
          real content. <br /><br />Sometimes it’s nice to put in text just to
          get an idea of how text will fill in a space on your website. This is
          just placeholder test. Don't be alarmed, this is just here to fill up
          space since your finalized copy.
        </p>
      </div>
      <div>
        <Image
          src={import("@img/about/history.jpg")}
          alt="seidel aluminum anodizing"
        />
      </div>
    </div>
  </section>
  <section class="bg-green py-20 px-[2.5%]">
    <div>
      <h2 class="font-black text-4xl text-center">
        Committed to Sustainability
      </h2>
    </div>
    <div
      class="mt-10 max-w-8xl mx-auto flex flex-col lg:flex-row items-center gap-10 lg:items-start justify-between space-y-5 lg:space-y-0"
    >
      <div class="grow shrink-0 max-w-2xl xl:mt-20 text-center lg:text-left">
        <h2 class="font-bold text-3xl">
          Leader in developing environmentally safe anodizing technology
        </h2>
        <p class="mt-4 text-lg leading-loose">
          This is just placeholder text. Don’t be alarmed, this is just here to
          fill up space since your finalized copy isn’t ready yet. Once we have
          your content finalized, we’ll replace this placeholder text with your
          real content. <br /><br />Sometimes it’s nice to put in text just to
          get an idea of how text will fill in a space on your website. This is
          just placeholder test. Don't be alarmed, this is just here to fill up
          space since your finalized copy.
        </p>
      </div>
      <div>
        <Image
          src={import("@img/about/environmentally-safe.png")}
          alt="environmentally safe anodizing technology"
        />
      </div>
    </div>
    <div
      class="mt-20 max-w-8xl mx-auto flex flex-col lg:flex-row-reverse items-center gap-10 lg:items-start justify-between space-y-5 lg:space-y-0"
    >
      <div class="grow shrink-0 max-w-3xl xl:mt-20 text-center lg:text-left">
        <h2 class="font-bold text-4xl">Sustainability in everything we do</h2>
        <p class="mt-4 text-lg leading-loose">
          This is just placeholder text. Don’t be alarmed, this is just here to
          fill up space since your finalized copy isn’t ready yet. Once we have
          your content finalized, we’ll replace this placeholder text with your
          real content. <br /><br />Sometimes it’s nice to put in text just to
          get an idea of how text will fill in a space on your website. This is
          just placeholder test. Don't be alarmed, this is just here to fill up
          space since your finalized copy.
        </p>
      </div>
      <div>
        <Image
          src={import("@img/about/sustainability.png")}
          alt="seidel aluminum anodizing"
        />
      </div>
    </div>
  </section>
  <section class="my-10 lg:my-20">
    <h2 class="text-center font-bold text-4xl">
      Real people, right in the USA
    </h2>
    <WideSlide
      className="mt-10 lg:mt-20"
      label="Seidel Group USA"
      images={gallery}
      client:visible
    />
  </section>
  <CallToAction />
</Layout>
