---
import Layout from "src/layouts/Layout.astro";
import CallToAction from "src/sections/general/CallToAction.astro";
import { getImage } from "@astrojs/image";
import { Image } from "@astrojs/image/components";
import WideSlide from "@components/Gallery/WideSlide";

import empImg from "@img/about/employee-rack-anodizing.jpg";
const { src } = await getImage({ src: empImg });
const gallery = [
  { src: src!, alt: "img alt" },
  { src: src!, alt: "img alt" },
  { src: src!, alt: "img alt" },
];
---

<Layout
  seo={{
    metaTitle: "About Us | Seidel Group",
    metaDescription:
      "For over 50 years Seidel Group has been revolutionizing what it means to be a fully integrated manufacturer.",
  }}
>
  <section class="px-[2.5%] my-10">
    <div
      class="max-w-8xl mx-auto flex flex-col lg:flex-row items-center gap-10 lg:items-start justify-between space-y-5 lg:space-y-0"
    >
      <div class="grow shrink-0 max-w-lg lg:mt-20 text-center lg:text-left">
        <h1 class="font-black text-6xl">About Us</h1>
        <p class="mt-2 text-2xl">World leader in anodized aluminum finishes</p>
        <p class="mt-4 text-lg">
          Fully integrated manufacturer of beautiful metal & plastic parts,
          producing millions of parts per day.
        </p>
      </div>
      <div>
        <Image
          width={600}
          src={import("@img/about/facility.jpg")}
          alt="seidel aluminum anodizing"
          quality={100}
        />
      </div>
    </div>
  </section>
  <section class="bg-white py-20 px-[2.5%]">
    <div
      class="max-w-8xl mx-auto flex flex-col lg:flex-row-reverse items-center gap-10 lg:items-start justify-between space-y-5 lg:space-y-0"
    >
      <div class="grow shrink-0 max-w-3xl text-center lg:text-left">
        <h2 class="font-black text-4xl">Our History</h2>
        <p class="mt-2 font-bold text-lg">50+ years of history</p>
        <p class="mt-4 text-lg leading-loose">
          Seidel Group was established in 2019 from the merger of three
          companies, each with different backgrounds and specialties. We
          combined our capabilities in order to perform every part of the
          aluminum parts manufacturing process: from raw sheets of aluminum to
          final decorated products. With over 150,000 sq ft of manufacturing and
          development we have streamlined the process resulting in efficient
          turn-around times while controlling costs for our clients. <br />
          <br />

          We started The Seidel Group with one goal in mind: Creating beautiful,
          metal parts and finishes. Our group consists of unique, passionate,
          technical and artistic professionals who strive to inspire.
          <br /><br />

          We believe our work should speak for itself.
        </p>
      </div>
      <div>
        <Image
          src={import("@img/about/history.jpg")}
          alt="seidel aluminum anodizing"
        />
      </div>
    </div>
  </section>
  <section class="bg-green py-20 px-[2.5%]">
    <div>
      <h2 class="font-black text-4xl text-center">
        Committed to Sustainability
      </h2>
    </div>
    <div
      class="mt-10 max-w-8xl mx-auto flex flex-col lg:flex-row items-center gap-10 lg:items-start justify-between space-y-5 lg:space-y-0"
    >
      <div class="grow shrink-0 max-w-2xl xl:mt-20 text-center lg:text-left">
        <h2 class="font-bold text-3xl">
          Leader in developing environmentally safe anodizing technology
        </h2>
        <p class="mt-4 text-lg leading-loose">
          Seidel’s environmentally conscious philosophy is applied to designing
          processes that produce no hazardous waste. For example, most
          traditional vacuum degreasing systems use chlorinated hydrocarbon
          solvents (Tetrachloroethylene, Trichloroethylene, etc...), which are
          toxic. Seidel instead uses non-halogenated solvents, which are
          friendly to the environment, hazardous waste free, and gentle on the
          parts.
        </p>
      </div>
      <div>
        <Image
          src={import("@img/about/environmentally-safe.png")}
          alt="environmentally safe anodizing technology"
        />
      </div>
    </div>
    <div
      class="mt-20 max-w-8xl mx-auto flex flex-col lg:flex-row-reverse items-center gap-10 lg:items-start justify-between space-y-5 lg:space-y-0"
    >
      <div class="grow shrink-0 max-w-3xl xl:mt-20 text-center lg:text-left">
        <h2 class="font-bold text-4xl">Sustainability in everything we do</h2>
        <p class="mt-4 text-lg leading-loose">
          At Seidel we have invested in a new 60,000 square foot facility that
          features solar panels. These panels will generate 1,000 Megawatts of
          energy each year. This new building is designed to be more efficient
          so that we can produce more while maintaining a lower footprint. <br
          /><br /> We seek to reduce our environmental footprint in every piece of
          our work. From investing in high efficiency machines to recycling acid
          and removing toxic materials from our processes.
        </p>
      </div>
      <div>
        <Image
          src={import("@img/about/sustainability.png")}
          alt="seidel aluminum anodizing"
        />
      </div>
    </div>
  </section>
  <section class="my-10 lg:my-20">
    <h2 class="text-center font-bold text-4xl">
      Real people, right in the USA
    </h2>
    <WideSlide
      className="mt-10 lg:mt-20"
      label="Seidel Group USA"
      images={gallery}
      client:visible
    />
  </section>
  <CallToAction />
</Layout>
