---
import Layout from "src/layouts/Layout.astro";
import CallToAction from "src/sections/general/CallToAction.astro";
import Industries from "src/sections/general/Industries.astro";
import { Image } from "@astrojs/image/components";
import { getImage } from "@astrojs/image";
import { Icon } from "astro-icon";
import PrimaryBtn from "@components/buttons/PrimaryBtn";
import SmallSlide from "@components/Gallery/SmallSlide";
const features = [
  {
    icon: "high-volume",
    title: "High Volume",
    body: "Our 75,000 sq.ft. facility allows us to process as much as you need.",
  },
  {
    icon: "no-hazardous-waste",
    title: "No Hazardous Waste",
    body: "Seidel is the only anodizer in the market not to produce hazardous waste.",
  },
  {
    icon: "vertically-integrated",
    title: "Vertically Integrated",
    body: "From start to finish, Seidel can process all of your needs.",
  },
];

import silverRaw from "@img/capabilities/beautiful-silver.jpg";
import colorsRaw from "@img/capabilities/colors.jpg";
import gadgetsRaw from "@img/capabilities/gadgets.jpg";
import lashRaw from "@img/capabilities/lash-container.jpg";
import nozzleRaw from "@img/capabilities/nozzles.jpg";

const silver = await getImage({ src: silverRaw });
const colors = await getImage({ src: colorsRaw });
const gadgets = await getImage({ src: gadgetsRaw });
const lash = await getImage({ src: lashRaw });
const nozzle = await getImage({ src: nozzleRaw });
const gallery = [
  { src: silver.src!, alt: "beautiful silver" },
  { src: colors.src!, alt: "varied color tops" },
  { src: gadgets.src!, alt: "custom decorated gadgets" },
  { src: lash.src!, alt: "beautiful container" },
  { src: nozzle.src!, alt: "anodized metals" },
];
---

<Layout
  seo={{
    metaTitle: "Capabilities | Seidel Group",
    metaDescription:
      "Seidel Group is a vertically integrated company with the know-how and capabilities to support the entire production process",
  }}
>
  <section class="px-[2.5%] my-10">
    <div
      class="max-w-8xl mx-auto flex flex-col lg:flex-row items-center gap-10 lg:items-start justify-between space-y-5 lg:space-y-0"
    >
      <div class="grow shrink-0 max-w-lg lg:mt-20 text-center lg:text-left">
        <h1 class="font-black text-5xl">
          Fully integrated, here to serve every step of the way
        </h1>
        <p class="mt-4 text-lg">
          The Seidel Group is a vertically integrated company with the know-how
          of designing, manufacturing, finishing, assembling and decorating
          assembled metal and plastic parts.
        </p>
      </div>
      <div>
        <Image
          src={import("@img/capabilities/hero.png")}
          alt="seidel aluminum anodizing"
          quality={100}
        />
      </div>
    </div>
  </section>
  <section class="bg-white py-20 px-[2.5%]">
    <div class="max-w-8xl mx-auto">
      <h2 class="font-bold text-4xl text-center">Your one stop shop</h2>
      <div class="mt-14 flex justify-between">
        {
          features.map((feature) => (
            <div class="max-w-xs text-center">
              <Icon name={feature.icon} size={75} class="mx-auto" />
              <h4 class="mt-3 font-bold text-3xl">{feature.title}</h4>
              <p class="mt-3">{feature.body}</p>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <section class="bg-white py-20 px-[2.5%]">
    <div class="max-w-8xl mx-auto">
      <div class="max-w-3xl mx-auto text-center">
        <h2 class="font-bold text-4xl">We fullfill every step of the way</h2>
        <p class="mt-3 text-lg leading-loose">
          At Seidel, we have the expertise to fullfill every stop of the
          manufacturing process.
        </p>
      </div>
      <Image
        class="mt-3 hidden md:block"
        src={import("@img/capabilities/capabilities.png")}
        alt="capabilites"
      />
      <Image
        class="mx-auto mt-3 md:hidden"
        src={import("@img/capabilities/capabilities-vertical.png")}
        alt="capabilities"
      />
    </div>
  </section>
  <section class="bg-white py-20 px-[2.5%]">
    <div
      class="max-w-8xl mx-auto flex flex-col lg:flex-row-reverse items-center gap-10 lg:items-start justify-between space-y-5 lg:space-y-0"
    >
      <div class="grow shrink-0 max-w-3xl text-center lg:text-left">
        <h2 class="font-bold text-4xl">
          Precise custom colors, finishes, decorations
        </h2>
        <p class="mt-4 text-lg leading-loose">
          If you can imagine it, Seidel can make it. Seidel is capable of
          producing any color, on any texture, to match any request, and process
          simultaneously through our independent hoist system. Our color and
          research department is dedicated to creating the closest color match
          through custom blending within a 24-48 hour turn around time. All of
          our dyes are organic, making the dyes environmentally safe. In
          addition to producing a variety of close color samples for each
          request, all of our colors are made to look the same in all light
          categories. Whether for outside use or indoor lighting, our color will
          remain visually consistent in all lighting conditions, in accordance
          with Seidel’s standards. Additionally, we have unlimited finish and
          shade capabilities including interference, iridescent, pearlescent and
          other coloring effects complementing our finishing spectrum. <br />
          <br /> The bottom line is: We make aluminum beautiful. We create the finish
          from etched/matte over satin to bright and develop your custom color. If
          you are looking for ideas on how to differentiate your product from your
          competition, please contact us. We are looking forward to enhancing your
          product.
        </p>
      </div>
      <div>
        <Image
          src={import("@img/capabilities/custom-colors.png")}
          alt="seidel aluminum anodizing"
        />
      </div>
    </div>
  </section>
  <section class="bg-white px-[2.5%] py-20">
    <h2 class="text-center font-bold text-4xl">
      Beautiful metal is our specialty
    </h2>
    <SmallSlide
      label="capbailities gallery"
      images={gallery}
      className="mt-10"
      client:visible
    />
  </section>
  <section class="bg-white px-[2.5%] py-20">
    <div
      class="max-w-8xl mx-auto flex flex-col lg:flex-row items-center gap-10 lg:items-start justify-between space-y-5 lg:space-y-0"
    >
      <div class="grow shrink-0 max-w-xl lg:mt-20 text-center lg:text-left">
        <h2 class="font-bold text-4xl">
          You want beautiful metal, we can make it happen
        </h2>
        <p class="mt-2 text-2xl">Specifications</p>
        <p class="mt-4 text-lg">
          Read our spec sheet for a more detailed explanation of our
          capabilites.
        </p>
        <a
          class="mt-4 bg-gradient-to-br from-primary to-primLight inline-block px-7 py-3 text-white"
          href="/capabilities.pdf"
          target="_blank">Learn More</a
        >
      </div>
      <div>
        <Image
          src={import("@img/capabilities/specifications.png")}
          alt="specifications"
        />
      </div>
    </div>
  </section>
  <Industries />
  <CallToAction />
</Layout>
