---
import Header from "../components/Header/Header.astro";
---

<html>
  <body>
    <main class="bg-neutral-200">
      <Header />
      <section>
        <h1>Contact Form</h1>
        <form data-static-form-name="contact" class="space-y-5">
          <div>
            <label>Name<input type="text" name="name" /></label>
          </div>
          <div>
            <label>Email<input type="email" name="email" /></label>
          </div>
          <div>
            <label>Message<textarea name="message"></textarea></label>
          </div>
          <button type="submit">Send!</button>
        </form>
      </section>
    </main>
  </body>
</html>
