---
import Layout from "../layouts/Layout.astro";
import CallToAction from "src/sections/general/CallToAction.astro";
import Hero from "src/sections/home/Hero.astro";
---

<Layout title="Seidel Group | Aluminum Anodizing">
  <main>
    <Hero />
    <section class="bg-red-50 h-screen"></section>
    <CallToAction />
  </main>
</Layout>
