---
import Layout from "../layouts/Layout.astro";
import CallToAction from "src/sections/general/CallToAction.astro";
import Hero from "src/sections/home/Hero.astro";
import Industries from "src/sections/general/Industries.astro";
import Companies from "src/sections/general/Companies.astro";
---

<Layout title="Seidel Group | Aluminum Anodizing">
  <main>
    <Hero />
    <Companies />
    <Industries />
    <CallToAction />
  </main>
</Layout>
