---
import Layout from "src/layouts/Layout.astro";
---

<Layout
  seo={{
    metaTitle: "Privacy Policy",
    metaDescription: "Privacy Policy for Seidel Group",
  }}
>
  <section class="px-edge py-10 lg:py-20">
    <div class="max-w-screen-lg mx-auto prose">
      <h1>Privacy Policy</h1>
      <p>
        The privacy of your data—and it is your data, not ours!—is a big deal to
        us. In this policy, we lay out: what data we collect and why; how your
        data is handled; and your rights with respect to your data. We promise
        we never sell your data: never have, never will.
      </p>
      <div>
        <h2>What we collect and why</h2>
        <p>
          Our guiding principle is to collect only what we need. Here’s what
          that means in practice:
        </p>
        <h3>Identity & Access</h3>
        <p>
          When you reach out using a form, we ask for identifying information
          such as your name, email address, phone number, company name. This is
          so that our sales and customer service teams can properly idenity who
          is reaching out.
        </p>
        <p>
          We will never sell your personal information to third parties, and we
          won't use your name in marketing statements without your permission.
        </p>
        <h3>User Tracking</h3>
        <p>
          We don't use tools like Google Analytics to track and store
          information about how you interact with our website. We do use privacy
          first analytics that doesn't sacrifice visitor privacy.
        </p>
        <h3>Your Rights</h3>
        <p>
          You have the right to access the personal information we hold about
          you and to ask that your personal information be corrected, updated,
          or deleted. If you would like to exercise this right, please contact
          us through the contact information below.
        </p>
        <p>
          Additionally, if you are a European resident we note that we are
          processing your information in order to fulfill contracts we might
          have with you (for example if you make an order through the Site), or
          otherwise to pursue our legitimate business interests listed above.
          Additionally, please note that your information will be transferred
          outside of Europe, to the United States.
        </p>

        <h3>Data Retention</h3>
        <p>
          When you reach out through the Site, we will maintain your contact
          information for our records unless and until you ask us to delete this
          information.
        </p>

        <h3>Contact Us</h3>
        <p>
          For more information about our privacy practices, if you have
          questions, or if you would like to make a complaint, please contact us
          by e-mail at customerservice@seidelgroup.com or by mail at 223
          Thomaston Ave, Waterbury CT 06704, United States.
        </p>
      </div>
    </div>
  </section>
</Layout>
