---
import Layout from "src/layouts/Layout.astro";
import ContactForm from "@components/Forms/ContactForm";
const fields = [
  { fieldType: "text", id: "first", name: "First Name" },
  { fieldType: "text", id: "last", name: "Last Name" },
  { fieldType: "email", id: "email", name: "Email Address" },
  { fieldType: "tel", id: "phone", name: "Phone Number" },
  { fieldType: "text", id: "company", name: "Company Name" },
  { fieldType: "text", id: "address", name: "Address" },
  { fieldType: "textarea", id: "message", name: "Message" },
];
---

<Layout
  seo={{
    metaTitle: "Request A Quote | Seidel Group",
    metaDescription:
      "Interested in learning more about partnering with Seidel Group? Request a quote today.",
  }}
>
  <main>
    <section class="px-[2.5%]">
      <div class="max-w-[800px] mx-auto">
        <div class="text-center">
          <h1 class="font-black font-headline text-4xl lg:text-6xl">
            Request A Quote
          </h1>
          <p class="text-lg mt-4 max-w-2xl mx-auto">
            Your next project is right around the corner! Fill out this form so
            we can assist you as best possible.
          </p>
        </div>
        <ContactForm
          client:load
          name="Seidel Group: Request A Quote"
          message="Thank you for submitting this contact form. We will reach out to you shortly."
          error="There was an error submitting this form. Please refresh and try again. If the problem persists, please send us an email directly."
          fields={fields}
        />
      </div>
    </section>
  </main>
</Layout>
