---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Terms and Conditions">
  <section class="px-[2.5%] py-10 lg:py-20">
    <div class="max-w-screen-lg mx-auto text-lg leading-relaxed">
      <h1 class="font-bold text-4xl text-center">Terms and Conditions</h1>
      <div class="py-10">
        <h2 class="font-bold text-2xl text-center">
          Terms and Conditions - Sales
        </h2>
        <div class="pt-3 space-y-3">
          <p>
            1. EXCLUSIVITY OF TERMS. Whether this document constitutes an
            acceptance of an offer, a confirmation of a contract, or the sale of
            goods (the “Goods”) by Seller to Buyer it is expressly conditioned
            on the terms contained herein and Seller gives notice of objection
            to any additional or different terms proposed by Buyer. All sections
            of the Uniform Commercial Code applicable to the sale of goods which
            expressly or impliedly protect Seller are hereby incorporated by
            reference.
          </p>
          <p>
            2. CREDIT APPROVAL. Acceptance of any order is subject to final
            credit approval by Seller. If Buyer’s credit should become
            unsatisfactory to Seller before goods are shipped (or in the case of
            partial shipments, before any partial shipment) Seller may require
            cash payments in advance or satisfactory security, including
            security for outstanding balances, as a condition to delivery.
          </p>
          <p>
            3. DELIVERIES. Estimated delivery dates are based on our best
            judgment and every effort will be made to meet them, contingent upon
            causes beyond our control. Unless otherwise agreed to in writing,
            Seller will not accept any liability for missed delivery dates.
            Seller will accept an order for no greater than a twelve-month
            period, with all releases scheduled within this time frame. Delivery
            of tooling and parts are contingent on Seller receiving, with the
            order, complete and detailed prints satisfactory for production,
            with all necessary information concerning type, thickness, width,
            temper and tolerances of material.
          </p>
          <p>
            4. TOOLING. As charges for tools and dies cover only part of the
            total design and fabrication costs, all tools, dies, and relevant
            engineering drawings remain the property of Seller. Unless
            specifically agreed, Seller’s responsibility for tools and dies,
            ceases one year after the last order for parts, made with same.
            Fifty percent payment on all tooling charges are due upon placement
            of the tooling order, and fifty percent is due upon approval of
            first article samples. If there are any engineering changes
            requested by Buyer after an order has been placed and tooling
            started, there will be additional charges on a time and material
            basis.
          </p>
          <p>
            5. TOOLING MADE SAMPLES. The tooling cost and sample delivery
            include up to 100 pieces and a dimensional layout. Any additional
            samples and/or quality requirements will result in an additional
            cost and may affect delivery lead time.
          </p>
          <p>
            6. DESIGNS. Seller will not be responsible for product performance,
            where Goods are manufactured in accordance with Customer’s design,
            prints, or specifications. The Customer shall indemnify, defend and
            hold Seller harmless from any and all claims, demands, liabilities,
            damages, costs, and expenses (including, but not limited to
            reasonable attorney’s fees and court costs) resulting from or
            connected with any claim that Goods which have been manufactured by
            Seller in accordance with Customer’s designs, prints or
            specifications, or the items into which such Goods are incorporated
            are defective with respect to their design. It is also agreed that
            Buyer will be liable for any damages by any patent litigation
            resulting from the manufacture or sale of any material made to
            Buyer’s design, prints, or specifications.
          </p>
          <p>
            7. PRICES. All prices are in U.S. dollars, F.O.B. Seller’s plant,
            unless otherwise stated. If the shipment is prepaid on a delivered
            basis, the actual material, handling and freight charges shall
            apply. Seller reserves the right to correct errors (including errors
            in computation of price) in the terms of this contract or
            transaction. The prices are based on receipt of orders for full
            quantities quoted with firm releases scheduled at time of order
            placement. Any different ordering and releasing practices can be
            reviewed by Seller to determine if there is any impact on quoted
            prices.
          </p>
          <p>
            8. TAXES. The price of the Goods does not include sales, use, excise
            or other taxes. Buyer will pay such taxes directly or reimburse
            Seller for any such taxes which Seller may be obligated to pay.
          </p>
          <p>
            9. PAYMENT TERMS. Unless otherwise agreed in writing, payment is due
            within 30 days from the date of invoice. Payments are to be made to
            the order of Seidel, LLC. Past due accounts are subject to a 1 1 /2%
            monthly finance charge.
          </p>
          <p>
            10. SHIPMENTS. Unless otherwise stated, the Goods will be shipped
            F.O.B. Seller’s plant with the carrier to be selected by Buyer.
            Partial shipments may be made and invoiced separately.
          </p>
          <p>
            11. LIMITED WARRANTY. Seller warrants that the Goods will conform to
            the description on the invoice and that the Goods will be free from
            defects in material or workmanship when delivered to Buyer. Seller’s
            liability ceases with Buyer’s acceptance of any Goods, and Seller
            makes no representation or warranty regarding the suitability,
            merchantability or fitness for any particular purpose of any Goods.
            SELLER MAKES NO OTHER WARRANTIES, EXPRESS OR IMPLIED (INCLUDING,
            WITHOUT LIMITATION, ANY WARRANTY OF MERCHANTABILITY, FITNESS OR
            AGAINST INFRINGEMENT OF ANY PATENT), AS TO THE GOODS.
          </p>

          <p>
            12. LIMITATION OF REMEDIES. If the Goods do not conform to the
            limited warranty set out above, Seller will, at its option, (a)
            repair or replace the defective Goods, or (b) refund so much of the
            purchase price as Buyer paid for the defective Goods.
          </p>
          <p>
            13. LIMITATION OF LIABILITY. The remedy of repair or replacement of
            the defective goods, or refund of the purchase price is Buyer’s sole
            and exclusive remedy against Seller and will satisfy all of Seller’s
            liability whether in contract, or negligence, tort, product
            liability, strict liability or otherwise. IN NO EVENT SHALL SELLER
            BE LIABLE FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES NOR SHALL SELLER’S
            LIABILITY IN CONNECTION WITH THE GOODS SOLD (OR THEIR DELIVERY OR
            NONDELIVERY) EXCEED THE SALES PRICE OF THE GOODS.
          </p>
          <p>
            14. NOTICES OF DEFECT. Seller shall have no liability to Buyer
            hereunder unless Buyer provides Seller with written notice of any
            claimed defect in the Goods as soon as practical after the discovery
            of the defect, but in no event later than 5 days from the date of
            delivery by Seller. Buyer shall afford Seller a reasonable time to
            inspect the Goods and will not alter or remove the Goods until
            Seller has made such inspection or expressly waived its right to do
            so.
          </p>
          <p>
            15 LIMITATIONS ON ACTIONS. Any action for Seller’s breach of
            contract shall be commenced within one year from the date of
            delivery of the Goods.
          </p>
          <p>
            16. FORCE MAJEURE. Acquisition or manufacture of the Goods by Seller
            and delivery to Buyer are subject to delays beyond the control of
            Seller. Delays resulting from such causes shall extend the delivery
            dates for the Goods.
          </p>
          <p>
            17. CANCELLATIONS. Buyer’s order cannot be canceled except with
            Seller’s consent and upon terms that indemnify Seller against loss.
          </p>
          <p>
            18. TYPOGRAPHICAL ERRORS. Seller may correct typographical or
            Clerical errors in the prices, quantities, or specifications
            contained in any of the documents.
          </p>
          <p>
            19. RETURNS. No returns will be accepted without Seller’s prior
            written consent.
          </p>
          <p>
            20. ASSIGNMENTS. No right or interest arising out of any contract
            between Buyer and Seller may be assigned without the prior written
            consent of Seller.
          </p>
          <p>
            21. WAIVER AND MODIFICATION. The failure by Seller to exercise or
            enforce any of the terms or conditions hereof will not constitute or
            be deemed a waiver of Seller’s rights to enforce any term or
            condition contained herein. No waiver or modification of any of the
            terms contained herein shall bind Seller unless in writing and
            signed by Seller.
          </p>
          <p>
            22. APPLICABLE LAW. The validity construction, and interpretation of
            this contract, and the rights and duties of the parties hereto,
            shall be governed by the laws of Connecticut, without reference to
            Connecticut’s choice of law rules.
          </p>
          <p>
            23. EXPORT LAWS. It is Seidel LLC. policy to comply with all laws of
            the United States and other countries affecting exports and
            international trade. This transaction is made under assurance by the
            recipient that these products are not intended for any use which
            would violate these trade laws, and that the recipient is not
            presently in any violation of these laws.
          </p>
          <p>
            24. ACCEPTANCE, ENTIRE AGREEMENT, MODIFICATION. This quotation
            confirms the acceptance by Buyer of Seidel Group’s (the “Seller”)
            terms and conditions set forth herein and shall create a contract
            between Buyer and Seller upon the terms and conditions set forth
            herein. SELLER SHALL NOT BE BOUND BY ANY ADDITIONAL PROVISION OR ANY
            PROVISION AT VARIANCE HEREWITH THAT MAY APPEAR IN BUYER’S PURCHASE
            ORDER, ACKNOWLEDGMENT, OR IN ANY OTHER COMMUNICATION FROM BUYER TO
            SELLER, UNLESS SUCH PROVISION IS EXPRESSLY AGREED TO IN WRITING AND
            SIGNED BY AN AUTHORIZED OFFICER OF SELLER. The terms and conditions
            set forth herein shall constitute the entire agreement between Buyer
            and Seller, and no change, modification, amendment, suspension,
            revision or termination of the terms and conditions set forth herein
            shall be binding upon Seller unless made in writing and signed by an
            authorized officer of Seller.
          </p>
          <p>
            25. EXPORT CONTROLS: This order is subject to compliance with all
            U.S. export controls. Your cooperation and/or compliance with those
            controls is required.
          </p>
          <p>
            26. QUOTATIONS AND PRICES: Prices are based on the raw material
            prices at the time of quote and are subject to change without
            notice. Orders calling for future delivery will be billed according
            to the price in effect at the time of delivery. Written quotations
            automatically expire thirty (30) calendar days from the date issued
            and are subject to termination by notice within that period.
          </p>
          <p>
            27. COSTS OF COLLECTION AND ATTORNEYS’ FEES: Any payments due by
            Buyer to Seller for materials or services rendered by Seller
            hereunder shall be paid when due. In the event Buyer fails to make
            any payments when due such amounts shall be subject to an interest
            charge of 1/2% each month that such payments are not made. Buyer
            agrees to pay all of Seller’s costs of collection on any outstanding
            balances including those court costs and attorney’s fees incurred by
            Seller in enforcing its rights hereunder.
          </p>
        </div>
        <div class="py-10">
          <h2 class="font-bold text-2xl text-center">
            Terms and Conditions - Purchases
          </h2>
          <div class="pt-3 space-y-3">
            <p>
              1. ACCEPTANCE. Commencement of performance pursuant to this
              Purchase Order constitutes acceptance of the terms hereof by
              Seller. If delivery dates cannot be met, Seller shall inform Buyer
              in writing by return email of Seller's best possible date of
              delivery by email addressed to the Buyer who placed the purchase
              order.
            </p>
            <p>
              2. DELIVERY. 100% ON TIME DELIVERY is a requirement. Seller will
              send Buyer a written "Notice of Shipment" giving the order number,
              type and amount of materials, and route of shipment at or prior to
              the time of shipment on all orders in excess of $5,000.00. Buyer's
              production schedules are based upon the agreement that materials
              will be delivered to Buyer by Seller by the date specified on the
              face of the Purchase Order. Time is, therefore, of the essence in
              this Purchase Order and delivery must be made on or before the
              scheduled delivery date. Seller agrees that whenever anything
              threatens to delay the timely shipment of any materials, it shall
              give prompt written notice thereof to Buyer. If for any reason
              Seller does not meet the delivery schedule, Buyer, at its option,
              may approve a revised delivery schedule in writing or may
              terminate the order in whole or in part without liability and may
              purchase elsewhere and hold Seller accountable for any cover price
              differential.
            </p>
            <p>
              3. PRICE. This order must not, without written authorization from
              Buyer, be filled at higher prices than specified herein, or if
              order is unpriced, at a price higher than last charged or quoted
              for goods described herein. Seller agrees that any price reduction
              made in goods described in the order prior to the delivery of such
              goods to Buyer will be applicable to this order. If Seller quotes
              or sells material similar to that required under this Purchase
              Order to any other customer at lower prices than those stated
              herein at any time after the date of this Purchase Order and prior
              to delivery, such lower prices shall be substituted for the prices
              stated herein. The prices charged to other purchasers purchasing
              the same or smaller quantities of goods from Seller shall not be
              less than prices charged to Buyer without discrimination.
            </p>
            <p>
              4. QUANTITIES. Shipments must equal exact amounts ordered by Buyer
              unless otherwise agreed by Buyer in writing.
            </p>
            <p>
              5. WARRANTY. Seller warrants that the materials and services
              furnished under the Purchase Order will be (a) MERCHANTABLE of
              highest quality, free from defects; (b) In accordance with all
              drawings and specifications submitted by Buyer to Seller; (c) FIT
              FOR THE USE for which they are intended and to which they are
              normally put to use or for any special uses known by Seller to be
              contemplated by Buyer. Seller further warrants that the materials
              are free and clear of all liens and encumbrances whatsoever and
              that Seller has good and merchantable title to the materials and
              shall deliver the same to Buyer. Such warranty shall survive any
              inspection, delivery, acceptance, or payment by Buyer. If any
              products or materials under the Purchase Order prove defective in
              material or workmanship, Seller will: (a) promptly repair or
              replace such product at no expense to Buyer; (b) Buyer may repair
              the defective product and charge the cost of the repair to Seller;
              (c) Buyer may return such product (freight collect) for full
              credit of the total purchase price including taxes paid, plus
              transaction costs incurred. Buyer's right to have the product
              repaired is in addition to other remedies of Buyer for defective
              goods. In the event Seller commences repair or replacement and,
              for any reason whatsoever, the period of delay in repair or
              replacement exceeds 15 days, Buyer shall have the option to: (a)
              cancel the order and replace the defective goods at Seller's sole
              cost and expense; (b) Seller shall return any and all monies paid
              to it by Buyer and any costs incurred by Buyer relating to the
              delivery and acquisition of the goods; or (c) Buyer may revoke
              acceptance of all or part of this order. For goods requiring a UL
              listing, Seller shall provide, on request by Buyer, a copy of
              Seller's Certificate of Compliance with UL standards. All product
              delivered must meet Federal, State and local laws in accordance
              with regulatory requirements.
            </p>
            <p>
              6. INSPECTION. Unless otherwise specified by Buyer in writing,
              Buyer will not accept installment sales. All materials will be
              subject to final inspection and approval by Buyer at Buyer's
              premises. The inspection shall be made within a reasonable time
              after arrival of the materials. Seller waives its right to cure
              any defects in goods and materials rejected as not conforming to
              the Purchase Order; or as otherwise defective, and Buyer shall
              have the right to return such goods and materials at Seller's
              expense, including transportation and handling costs. Buyer shall
              preserve any other remedies as may be provided by law.
            </p>
            <p>
              7. BUYER'S PROPERTY. Buyer shall retain the title to all drawings,
              designs, tooling, specifications, technical data or material
              furnished to Seller for use with this Purchase Order. Seller
              acknowledges that all such data or material is proprietary and
              confidential information of Buyer. Seller hereby agrees that Buyer
              shall own any and all drawings, designs, tooling, specifications,
              technical data or material developed by Seller in the fulfillment
              of this Purchase Order. Seller shall not disclose, convey or
              transfer any such confidential or proprietary information. These
              items will not be used for any other customer without Buyer's
              prior written consent and will be returned promptly to Buyer upon
              request. Seller assures all risk and liability for loss or damage
              to these items while in its possession.
            </p>
            <p>
              8. PATENTS. Seller agrees that all material furnished by it, which
              is not of Buyer's design, shall be free of any infringement of any
              patent, trade secret, copyright, trademark or similar proprietary
              right. Seller further agrees to indemnify and hold Buyer and its
              customers harmless against all costs and liabilities or expenses
              of any kind arising out of or in any manner connected with any and
              all suits, controversies, demands and liabilities arising out of
              any claim of infringement related to the work done by Seller.
            </p>
            <p>
              9. TRADEMARK. If the goods specified within this order are
              peculiar to Buyer's design or if the goods bear Buyer's Trademark
              or identifying mark, they shall not bear a Trademark or other
              designation of Seller and such goods or similar goods shall not be
              sold or otherwise disposed of to anyone other than Buyer without
              written consent of Buyer.
            </p>
            <p>
              10. TAXES AND TARIFFS. Except as may be otherwise provided in this
              Purchase Order, the contract price includes all applicable
              federal, state and local taxes and tariffs in effect on the date
              of this Purchase Order. In case of new taxes or tariffs or
              increased rates or the repeal of same or the reduction of rates
              the contract price shall be adjusted according to such changes.
            </p>
            <p>
              11. ASSIGNMENT. Seller may not assign its rights or delegate its
              duties under this Purchase Order without the prior written consent
              of Buyer.
            </p>
            <p>
              12. SETOFFS AND COUNTERCLAIMS. All claims for money due or to
              become due from Buyer shall be subject to deduction by Buyer for
              any setoff or counterclaim arising out of this or any other of
              Buyer's Purchase Orders with Seller.
            </p>
            <p>
              13. CHANGES. Buyer shall have the right at any time to make
              changes within the general scope of this Purchase Order. If any
              change affects the time for or cost of performance, an equitable
              adjustment will be negotiated, and the order modified in writing
              signed by both parties. All claims by Seller for any adjustment
              which is not supported in writing within 30 days from the date of
              notification of the change will be waived by Seller.
            </p>
            <p>
              14. TRANSPORTATION. All packing, shipping and related charges will
              paid by Seller unless Buyer specifically agrees in writing to
              assume such charges. Seller will pack, mark and ship the materials
              in accordance with the written directions of Buyer and where not
              specified by Buyer, Seller shall ship goods F.O.B. destination
              with insurance coverage on behalf of Buyer for the replacement
              value of such goods and Seller will follow the requirements of
              common carriers in order to assure lowest transportation and
              insurance rates. Seller will be responsible for any costs incurred
              by Buyer as a result of Seller's failure to comply with general
              common carrier standards and where Buyer requires special packing
              procedures, Seller shall notify Buyer of any additional charges
              prior to shipping. Seller and Buyer shall attempt to reach an
              equitable written adjustment prior to shipping for such additional
              charges. Costs of loss or delay to all goods shipped to Buyer by
              Seller shall be the liability of Seller until goods are delivered
              and accepted by Buyer.
            </p>
            <p>
              15. INDEMNIFICATION. Seller agrees to indemnify Buyer and its
              customers against all costs, liabilities or expenses arising out
              of or in any way connected with (a) claims of injury or damage to
              persons or damage to property which result from (I) any act or
              omission of Seller, its agents, or employees, or (II) any alleged
              defects in materials, workmanship or design of the materials
              furnished or (b) any violations of any federal, state or municipal
              law, ordinance or regulation arising from the manufacture or
              operation of such materials. Seller agrees to carry sufficient
              product liability and property damage coverage which shall cover
              any claim by Buyer against Seller for injury to Buyer from
              omissions by Seller or its agents or employees or from any defects
              in workmanship, design or materials used by Seller in its
              products.
            </p>
            <p>
              16. WORK BY SELLER. If Seller or its agents enter upon the
              premises of Buyer or a third party in performance of this Purchase
              Order, whether for delivery or installation of the materials or
              otherwise, Seller shall indemnify and hold Buyer harmless from all
              costs, liabilities and expenses arising out of any claim of injury
              to person or damage to property which results from the acts or
              omissions of Seller or its agents including any claim arising in
              connection with the use of equipment or material owned by Buyer or
              such third party. Seller will maintain Public Liability, Property
              Damage, Employer's Liability and Compensation Insurance and Motor
              Vehicle Insurance in such amounts as will protect Seller and Buyer
              from any potential claims hereunder.
            </p>
            <p>
              17. DAMAGES. Buyer shall not be liable to Seller for special,
              contingent, incidental or consequential damages. A waiver of
              breach of any provision of the Purchase Order shall not be a
              waiver of any other breach of such or any other provision.
            </p>
            <p>
              18. BANKRUPTCY. In the event of: (a) any proceedings voluntary or
              involuntary, in bankruptcy or insolvency by or against Seller; (b)
              the inability of Seller to meet its debts as they come due; or (c)
              in the event of the appointment, with or without Seller's consent,
              of an assignment for the benefit of creditors or of a receiver for
              Seller; Buyer shall be entitled, at its sole option, to cancel any
              unfilled part of this Purchase Order without any liability
              whatsoever.
            </p>
            <p>
              19. GOVERNING LAW. This Purchase Order and acceptance of it shall
              be a contract made in the State of Connecticut and shall be
              governed by the laws of the State of Connecticut and the United
              States. Seller hereby consents to the jurisdiction of the courts
              of the State of Connecticut and the United States District Court
              for the District of Connecticut for suits arising out of this
              Purchase Order.
            </p>
            <p>
              20. CONFLICTING TERMS. If terms of this order do not appear on or
              agree with Seller's invoice as rendered, this order shall control.
              Seller agrees that Buyer may change the invoice to conform to the
              terms of this Purchase Order and Buyer shall, thereafter, make
              payment accordingly.
            </p>
            <p>
              21. TERMINATION. Buyer may at any time terminate orders under this
              Purchase Order, in whole or in part, by giving written notice to
              Seller. Upon receipt of such notice, Seller will stop work to the
              extent directed by Buyer in the notice. Seller will place no
              further orders or subcontracts under this Purchase Order and will
              protect the property in Seller's possession in which Buyer might
              have an interest. Such termination shall not constitute a default
              under this Purchase Order. Seller shall use all reasonable efforts
              in order to mitigate Buyer's costs and expenses. Cancellation of
              this agreement or any part hereof shall not release Seller from
              any liability which it may have incurred or any obligation which
              may have occurred under any provision of this Agreement. Upon
              termination of orders without cause, Buyer will be obligated to
              pay to Seller: (a) the contract price for all products which are
              then completed to Buyer's specification, plus; (b) Seller's costs
              excluding profit of work in process and the cost of raw materials
              purchased by Seller for fabrication of products ordered hereunder,
              less; (c) the salvage value of any items used or sold by Seller
              subsequent to Buyer's termination. Under termination of orders for
              cause: (a) Buyer will not be liable to Seller for any costs
              incurred by Seller; and (b) Seller will be liable for incidental
              and consequential damages incurred by Buyer. Buyer's failure to
              cover shall not bar Buyer from pursuing any other remedies
              available at law. For items carried in inventory by Seller, as
              distinguished from items made to Buyer's specifications, Buyer
              will have no liability upon termination of this Purchase Order
              prior to shipment. Payment provided for in this paragraph shall
              constitute Buyer's only liability in the event this Purchase Order
              is terminated. UNDER NO CIRCUMSTANCES SHALL SELLER BE ENTITLED TO
              ANTICIPATORY DAMAGES.
            </p>
            <p>
              22. AGREEMENT. The terms and conditions stated herein represent
              the complete agreement of the parties and this agreement
              supersedes all previous agreements with respect to this subject
              matter. This Purchase Order shall not be modified except with the
              prior written consent of the parties and shall not be modified by
              distribution by Seller's invoice to Buyer or signature by Buyer,
              its agents or employees on Seller's invoice.
            </p>
            <p>
              23. SEVERABILITY. If any provision of this Purchase Order or the
              application thereof shall, for any reason, be deemed invalid or
              unacceptable, such provision shall be limited only to the extent
              necessary in the circumstance to make such provision valid and
              enforceable and its partial or total invalidity or
              unenforceability shall not in any event affect the remaining
              provisions of this Purchase Order which shall continue in full
              force and effect.
            </p>
            <p>
              24. SURVIVAL. The rights, obligations, and responsibilities of
              Buyer and Seller with respect to this Purchase Order shall survive
              the date of performance specified in this Purchase Order. These
              Seidel, LLC Purchase Order Terms & Conditions supersede all
              Stewart EFI, LLC Purchase Order Terms & Conditions previously
              issued. Seidel, LLC Purchase Order Terms & Conditions listed on
              the back side of any Purchase Order issued by Seidel, LLC are
              superseded by this document until further notice.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
