---
import Layout from "src/layouts/Layout.astro";
import Industries from "src/sections/general/Industries.astro";
import CallToAction from "src/sections/general/CallToAction.astro";
import { Image } from "@astrojs/image/components";
---

<Layout title="Industries | Seidel Group">
  <section class="px-[2.5%] my-10">
    <div
      class="max-w-8xl mx-auto flex flex-col lg:flex-row items-center gap-10 lg:items-start justify-between space-y-5 lg:space-y-0"
    >
      <div class="grow shrink-0 max-w-lg lg:mt-20 text-center lg:text-left">
        <h1 class="font-black text-6xl">We Serve Many Industries</h1>
        <p class="mt-4 text-lg">
          This is just placeholder test. Don't be alarmed, this is just here to
          fill up space since your finalized copy.
        </p>
      </div>
      <div>
        <Image
          src={import("@img/industries/industries.png")}
          alt="seidel aluminum anodizing"
          quality={100}
        />
      </div>
    </div>
  </section>
  <Industries />
  <CallToAction />
</Layout>
