---
import Layout from "src/layouts/Layout.astro";
import Industries from "src/sections/general/Industries.astro";
import CallToAction from "src/sections/general/CallToAction.astro";
import { Image } from "@astrojs/image/components";
---

<Layout
  seo={{
    metaTitle: "Industries | Seidel Group",
    metaDescription:
      "As a vertically integrated manufacturer we serve all markets which require high precision metal parts combined with superior finishing and color matching know-how, assembled, or not assembled.",
  }}
>
  <section class="px-[2.5%] my-10">
    <div
      class="max-w-8xl mx-auto flex flex-col lg:flex-row items-center gap-10 lg:items-start justify-between space-y-5 lg:space-y-0"
    >
      <div class="grow shrink-0 max-w-lg lg:mt-20 text-center lg:text-left">
        <h1 class="font-black font-headline text-6xl">
          We Serve Many Industries
        </h1>
        <p class="mt-4 text-lg">
          As a vertically integrated manufacturer we serve all markets which
          require high precision metal parts combined with superior finishing
          and color matching know-how, assembled, or not assembled.
        </p>
      </div>
      <div>
        <Image
          src={import("@img/industries/industries.png")}
          alt="seidel aluminum anodizing"
          quality={100}
        />
      </div>
    </div>
  </section>
  <Industries />
  <CallToAction />
</Layout>
