---
import { Image } from "@astrojs/image/components";
const content = [
  {
    img: import("@img/home/tooling.jpg"),
    title: "Tooling & Design",
    body: "Our staff of qualified engineers are capable of bringing your concepts to reality without compromise. In house tool construction will use modern precision equipment and duravble materials to guarantee long term value. The development team will bring your ideas to life ensuring fit, form and function will be flawlessly executed on time, every time.",
  },
  {
    img: import("@img/home/metal-stamping.jpg"),
    title: "Metal Stamping",
    body: "A diameter range of 10mm to 89mm up to 80mm long are covered in our collection of over 74 US Baird, Platarg and Waterbury Farrel transfer press give us broad capabilities to fabricate the most intricate designs for high volume applications at the lowest possible costs.",
  },
  {
    img: import("@img/home/anodizing.jpg"),
    title: "Anodizing",
    body: "Anodization converts all surfaces of the aluminum to rock hard durable aluminum oxide. This layer of oxide is capable of permanently absorbing dying compounds. Additional processes make it impenetrable to most other compounds making it the finish of choice due to product compatibility and resiliency necessary for high-speed automated processing. Seidel, founded in Germany in 1830, pioneered electro polishing and anodization of aluminum prior to establishing operation in the United States in 1987. Our capacity nears 800 Million units in our ISO Certified 180,000 sq foot campus.",
  },
  {
    img: import("@img/home/injection-molding.jpg"),
    title: "Injection Molding",
    body: "More than 25 injection molding presses ranging from 50 to 300 tons are available to support your needs. Our extensive assortment of Stock mold frames from Unit Prototype to 48 cavities offer scalable cost-efficient proposition to support global market growth. A comprehensive line of caps and closures are available without any tooling fees or investments. Stock resins include Polypropylene, Polyethylene, our capability to supply other thermoplastics items such as Santoprene and Surlyn is within our wheelhouse.",
  },
  {
    img: import("@img/home/assembly.jpg"),
    title: "Assembly",
    body: "16 assembly machines are available to combine components creating Fragrance Caps, Jar Lids , Tube Closures, Collar Assemblies . We are specialists of hot melt adhesives and mechanical bonding .",
  },
  {
    img: import("@img/home/metallizing.jpg"),
    title: "Buff and Lacquer",
    body: "Seidel offers a broad range of metal finishing & decoration services to provide your brand a unique appearance in the market place. We can polish or texture a drawn shell then seal it with a durable lacquer coating. Enamel coating, bright or matte anodization and diverse plated finishes are other options. Decorating using silk screening, hot stamping or laser etching is available. WE CAN DELIVER.",
  },
  {
    img: import("@img/home/decoration.jpg"),
    title: "Spray Finishing",
    body: "Traditional mechanical finishing continues to create value for those seeking an elevated degree of image clarity and brilliance , brushed texture or the aesthetics of Nonmetallic pastel colors.",
  },
];
---

<div id="scroller" class="height-100vh">
  <div id="container" class="h-[80vh] relative">
    <div
      id="timeline-container"
      class="hidden xs:block absolute h-full top-0 left-0"
    >
      <div
        id="timeline"
        class="w-2 bg-primary rounded h-full absolute top-[10vh] flex flex-col items-center justify-between"
      >
        {
          content.map((_, i) => (
            <div class="w-10 h-10 first:-translate-y-1/2 last:translate-y-1/2">
              <div class="step h-full w-full  bg-primary rounded-full flex justify-center items-center text-white">
                <p>{i + 1}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <div class="xs:ml-14 relative">
      {
        content.map((data) => (
          <div class="panel absolute overflow-hidden left-0 top-[10vh] xl:top-0 w-full h-screen flex flex-col xl:flex-row items-center xl:justify-between ">
            <div class="text max-w-xl xl:grow xl:shrink-0 text-center xl:text-left">
              <h3 class="font-bold text-3xl">{data.title}</h3>
              <p class="mt-3 text-lg leading-loose">{data.body}</p>
            </div>
            <Image
              class="img mt-10 xl:mt-0 xl:grow-0 xl:shrink max-w-[400px] xl:max-w-[720px]"
              src={data.img}
              alt={data.title}
            />
          </div>
        ))
      }
    </div>
  </div>
</div>

<script>
  import gsap from "gsap";
  import type TweenTarget from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  let panels: typeof TweenTarget[] = gsap.utils.toArray(".panel");
  let steps: typeof TweenTarget[] = gsap.utils.toArray(".step");

  const factor = 2;

  // Ignore first section
  gsap.set(panels.slice(1), { autoAlpha: 0 });
  gsap.set(steps.slice(1), { autoAlpha: 0, scale: 0 });

  const largeTL = gsap.timeline({
    scrollTrigger: {
      trigger: "#container",
      pin: true,
      scrub: 0.5,
      start: "top top",
      end: "+=" + panels.length * 100 * factor + "%",
    },
  });

  panels.forEach(function (elem, i) {
    gsap.set("section", {
      zIndex: (i, _target, targets) => targets.length - i,
    });

    // select the relevant elements
    const text = (elem as unknown as HTMLElement).querySelectorAll(".text");

    const img = (elem as unknown as HTMLElement).querySelectorAll(".img");

    const tldelay = i / 2;
    const tweenduration = (1 / 13) * factor; // -->  1/cumulated duration of all tweens here * factor

    var smallTL = gsap.timeline();

    // don't reveal first section
    if (i !== 0) {
      smallTL

        .to(steps[i], { autoAlpha: 1, scale: 1, duration: tweenduration })
        .to(elem, { autoAlpha: 1, duration: tweenduration }, "<")

        .from(
          text,
          {
            xPercent: -100,
            autoAlpha: 0,
            duration: tweenduration,
            ease: "power2.inOut",
          },
          "<"
        )

        .from(
          img,
          {
            xPercent: 100,
            autoAlpha: 0,
            duration: tweenduration,
            ease: "power2.inOut",
          },
          "<"
        );
    }

    // .to({}, { duration: tweenduration }) // a little pause in between

    // .to(first, {xPercent: 100, duration: tweenduration*2, ease:'power2.inOut'})

    // .to({}, { duration: tweenduration / 2 }) // a little pause in between

    smallTL.to({}, { duration: tweenduration / 4 }); // a little pause in between keeps section up

    // Keep last image showing
    if (i !== panels.length - 1) {
      smallTL
        .to(elem, { autoAlpha: 0, duration: tweenduration })

        .to({}, { duration: tweenduration / 2 }); // a little pause at the end
    }
    if (i === panels.length - 1) {
      smallTL.to("#timeline", { top: 0, duration: tweenduration / 2 }, "<");
    }
    largeTL.add(smallTL, tldelay);
  });
</script>
