---
import { Icon } from "astro-icon";
const companies = ["acura", "opel", "loreal", "cadillac", "clinique", "avon"];
---

<section class="py-20 bg-white px-[2.5%]">
  <div class="max-w-5xl mx-auto">
    <h3 class="font-black text-3xl text-center">Trusted By The Best</h3>
    <div
      class="max-w-full overflow-x-hidden mt-10 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-24 items-center"
    >
      {
        companies.map((company) => (
          <Icon name={company} class="max-w-full md:max-w-[190px] mx-auto" />
        ))
      }
    </div>
  </div>
</section>
