---
import { Icon } from "astro-icon";
const companies = ["acura", "opel", "cadillac"];
---

<section class="py-20 bg-white px-[2.5%]">
  <div class="max-w-5xl mx-auto">
    <h2 class="font-black font-headline text-3xl text-center">
      Trusted By The Best
    </h2>
    <div
      class="max-w-full overflow-x-hidden mt-10 grid md:grid-cols-3 gap-24 items-center"
    >
      {
        companies.map((company) => (
          <Icon name={company} class="max-w-[190px] mx-auto" />
        ))
      }
    </div>
  </div>
</section>
