---
import Selector from "@components/Selector/Selector";

import { getImage } from "@astrojs/image";

import generalPre from "@img/industries/general/general-industry.png";
import cosmeticPre from "@img/industries/cosmetic/cosmetic-industry.jpg";
import autoPre from "@img/industries/automotive/auto-hero.jpg";
import pharmaPre from "@img/industries/pharmaceutical/pharma-hero.jpg";

const generalImg = await getImage({ src: generalPre });
const cosmeticImg = await getImage({ src: cosmeticPre });
const autoImg = await getImage({ src: autoPre });
const pharmaImg = await getImage({ src: pharmaPre });
const industriesData = [
  {
    name: "General",
    title: "General Industries",
    p: "High precision manufacturing and finishing.",
    products: [
      "Writing Instruments",
      "Garden Hoses",
      "Bottle Caps",
      "Jar Covers",
    ],
    img: generalImg.src!,
  },
  {
    name: "Cosmetic",
    title: "Cosmetic Industry",
    p: "Extensive partnerships with tube, mascara, and lipstick specialists give us brand specific insight and knowledge to increase speed to market.",
    products: ["Makeup", "Skincare", "Fragrance", "Personal Care"],
    img: cosmeticImg.src!,
  },
  {
    name: "Automotive",
    title: "Automotive Industry",
    p: "Our in-house metal forming and finishing capabilities are compelling reasons to partner with Seidel. Partnerships with local ISO certified vendors add plating, oxide, phosphate, passivation and other heat treatment processes make Seidel the logical choice to explore for your next project.",
    products: ["Kick Plates"],
    img: autoImg.src!,
  },
  {
    name: "Pharmaceutical",
    title: "Pharmaceutical Industry",
    p: "Seidel Anodization is the perfect finishing technique for aluminum items for Pharma. In addition to the endless color array naturally comes a durable uniform oxide conversion shield that is impervious to most chemicals and scuff resistance finish in a variety of textures.",
    products: ["Bottles", "Droppers", "Packaging"],
    img: pharmaImg.src!,
  },
];
---

<section class="px-[2.5%] bg-white py-20">
  <div class="max-w-8xl mx-auto">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="font-bold font-headline text-4xl">Industries Served</h2>
      <p class="mt-3 text-lg">
        We serve all markets which require high precision form metal or plastic
        parts with color matching capabilities.
      </p>
    </div>
    <Selector className="mt-16" data={industriesData} client:load />
  </div>
</section>
